<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet" href="../../stylesheets/header_style.css">
<div class="header">
    <a href="/map"><div class="logo">
        <p>
        Travel<br /> Record	
        </p>
        </div></a>
        <li class="men">
      <a href="/gallery/nation_categori">Country<br />Album</a>
        </li>
        <li class="men">
          <a href="/essay/">Photo<br />Essay</a>
            </li>

    </div>
    <div class = "Logout"><a href = "auth/logout">Logout</a></div>
