<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="6.5;url=./auth/sign_up&login">
  <title>CodePen - Gran Turismo</title>
  <link rel="stylesheet" href="../stylesheets/loading_style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="wrapper">
			<div id="outline" class="centering angle">
				<div id="circuit">
				</div>
        <!--<div class="circuit-inner"></div>-->
        <a href="https://codepen.io/Xpressive_Team/full/tDHgb" target="_blank" class="ad v-ad" style="color:#ffbb5d;">
					<span>
						Record
					</span>
					<span>
						Travel
					</span>
				</a>

				<div class="cars">
					<div id="car2" class="car-base run-base run2 ">
						<div class="chassis"></div>
						<div class="front-window"></div>
						<div class="bonnet"></div>
						<div class="light light-left">
						</div>
						<div class="light light-right">
						</div>
						<div class="plate">
							Xpressive
						</div>
						<div class="plate plate-back">
							Xpressive
						</div>
						<div class="bamper"></div>
						<div class="handle"></div>
						<div class="back-sheet"></div>
						<div class="sheet-base sheet1"></div>
						<div class="sheet-base sheet2"></div>
						<div class="ria"></div>
						<div class="ria-top"></div>
						<div class="wing left-wing"></div>
						<div class="wing right-wing"></div>
						<div class="side-bamper side-bamper-left">
						</div>
						<div class="side-bamper side-bamper-right">
						</div>
						<div class="side-bamper side-bamper-left-back">
						</div>
						<div class="side-bamper side-bamper-right-back">
						</div>
						<div class="side-door side-door-left">
						</div>
						<div class="side-door side-door-right">
						</div>
						<div class="tires-front">
							<div class="tire tire-left">
								<div class="tire-side"></div>
								<div class="tire-side"></div>
								<div class="piller-face">
									<div class="r360-1">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-2">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-3">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-4">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
								</div>
							</div>
							<div class="tire tire-right">
								<div class="tire-side"></div>
								<div class="tire-side"></div>
								<div class="piller-face">
									<div class="r360-1">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-2">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-3">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-4">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="tires-back">
							<div class="tire tire-left-back">
								<div class="tire-side"></div>
								<div class="tire-side"></div>
								<div class="piller-face">
									<div class="r360-1">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-2">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-3">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-4">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
								</div>
							</div>
							<div class="tire tire-right-back">
								<div class="tire-side"></div>
								<div class="tire-side"></div>
								<div class="piller-face">
									<div class="r360-1">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-2">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-3">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-4">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="car1" class="car-base run-base">
						<div class="chassis"></div>
						<div class="front-window"></div>
						<div class="bonnet"></div>
						<div class="light light-left">
						</div>
						<div class="light light-right">
						</div>
						<div class="plate">
							Xpressive
						</div>
						<div class="plate plate-back">
							Xpressive
						</div>
						<div class="bamper"></div>
						<div class="handle"></div>
						<div class="back-sheet"></div>
						<div class="sheet-base sheet1"></div>
						<div class="sheet-base sheet2"></div>
						<div class="ria"></div>
						<div class="ria-top"></div>
						<div class="wing left-wing"></div>
						<div class="wing right-wing"></div>
						<div class="side-bamper side-bamper-left">
						</div>
						<div class="side-bamper side-bamper-right">
						</div>
						<div class="side-bamper side-bamper-left-back">
						</div>
						<div class="side-bamper side-bamper-right-back">
						</div>
						<div class="side-door side-door-left">
						</div>
						<div class="side-door side-door-right">
						</div>
						<div class="tires-front">
							<div class="tire tire-left">
								<div class="tire-side"></div>
								<div class="tire-side"></div>
								<div class="piller-face">
									<div class="r360-1">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-2">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-3">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-4">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
								</div>
							</div>
							<div class="tire tire-right">
								<div class="tire-side"></div>
								<div class="tire-side"></div>
								<div class="piller-face">
									<div class="r360-1">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-2">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-3">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-4">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="tires-back">
							<div class="tire tire-left-back">
								<div class="tire-side"></div>
								<div class="tire-side"></div>
								<div class="piller-face">
									<div class="r360-1">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-2">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-3">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-4">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
								</div>
							</div>
							<div class="tire tire-right-back">
								<div class="tire-side"></div>
								<div class="tire-side"></div>
								<div class="piller-face">
									<div class="r360-1">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-2">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-3">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
									<div class="r360-4">
										<div class="tire-grip r1"></div>
										<div class="tire-grip r2"></div>
										<div class="tire-grip r3"></div>
										<div class="tire-grip r4"></div>
										<div class="tire-grip r5"></div>
										<div class="tire-grip r6"></div>
										<div class="tire-grip r7"></div>
										<div class="tire-grip r8"></div>
										<div class="tire-grip r9"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- partial -->
  <script  src="../javascripts/loading_script.js"></script>

</body>
</html>
