<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Image Panorama - Custom Container</title>
  <link rel="stylesheet" href="../../stylesheets/panaroma_style.css">

</head>
<body>
  <% include ./sub_header %><div class ="login_info"><%=user_name%>님 환영합니다.</div> 
<!-- partial:index.partial.html -->
<div id="container"></div>

<!-- partial -->
  <script src='https://pchen66.github.io/js/three/three.min.js'></script>
<script src='https://rawgit.com/pchen66/panolens.js/dev/build/panolens.min.js'></script>

</body>
<script>
  var panorama, viewer, container, infospot;
var containerBaseWidth = 700;
var containerBaseHeight = 400;
var deltaSize = 100;

container = document.querySelector( '#container' );

 //panorama = new PANOLENS.ImagePanorama( 'https://images.unsplash.com/photo-1544085311-11a028465b03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80' );
 panorama = new PANOLENS.ImagePanorama( '../../<%=result[0].travel_image%>' );

viewer = new PANOLENS.Viewer( { container: container } );
viewer.add( panorama );

</script>
</html>
